

#myModal{
    display:none;
}
.Header{
    padding: 0 3%;
    margin-bottom: 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
}
.main-content {
    padding: 1% 7% 10% 7%;
    margin-top: 8em;
}

.PlatformList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 7%;
}

.PlatformList li {
    flex-basis: calc(30% - 2%);
    height: calc(50vw - 2%);
    width: calc(33.33vw - 2%);
    min-height: calc(33.33vw - 2%);
    margin-bottom: 3%;
    list-style-type: none;
}

.PlatformList li .imgContainer img{
    width:  100%;
    height:  25vh;
    object-fit: cover;
}
.category{
    display: flex;
    flex-direction: column;
    margin: 5% 6% 0 6%;
}
.category ul{
    list-style-type: none;
}
.category ul li{
    width: 100%;
    margin-bottom:1%
}
.categoryLink{
    text-decoration: none;
    color:white;
}
#btn-group{
    width:70%;
}
#firstBTNCat{
    width: 90%;
}

h2>a{
    text-decoration: none;
    color:black
}
.subCatPageList ul {
    padding-left:  0;
    margin:  1%  0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subCatPageList ul li {
    list-style-type: none;
    flex:  0  0 calc(33.333% -  2vw);
    margin:  1vw;
}
h1{
    padding: 2% 0;
}
#coloredCard{
    width:  100%;
    height:  8vh;
}
.courseComponent .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.courseList ul {
    display: flex;
    flex-wrap: wrap;
    gap:  3%; /* Use gap for consistent spacing between items */
}

.courseList ul li {
    flex:  0  0 calc(33.33% -  2%); /* Each item takes up roughly one third of the container's width minus   2% for margins */
    list-style-type: none;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 2%;
}
.courseComponent>.card>.card-body>*{
    margin-bottom: 4%;
}

.card-body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1%;
}
#platformCardBody{
    height: 30vh;
}
.progressContainer{
    display: flex;
    flex-direction: column;
}
.progressContainer>:first-child{
    margin-bottom: 5%;
}

.cardPage {
    max-width: 90%;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.course-info {
    margin-bottom: 2%;
}

.course-description {
    font-weight: 300;
    color: #333;
}

.table {
    width: 100%;
    margin-bottom: 2%;
}

.progress {
    width: 100%;
    height: 20px;
    margin-bottom: 2%;
}

.progress-bar {
    height: 100%;
}
.course-info>div{
    width: 70%;
}
.table {
    width: 100%;
    margin-bottom: 2%;

}
.colTab{
    text-align: center;
}

.table td {
    vertical-align: middle;
}







.table {
    width: 100%;
    margin-bottom: 2%;
}

.colTab {
    text-align: center !important; /* Добавьте !important, если другие стили переопределяют */
}

.table td {
    vertical-align: middle;
    height: 50px; /* Измените значение на нужное вам */
    text-align: center; /* Добавьте это */
}



.headerLink{
    margin-bottom: 3%;
}
.smallCard{
    background-color: #d2e8ff;
    justify-content: space-evenly;
    height: 20vh;
}


.footer {
    font-size: .8em;
    background-color: #f8f9fa;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    height: 10%;
}

.footer h5 {
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.footer p {
    color: #555;
}

.footer a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
